@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214.29deg 24.14% 94.31%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --warning: 40deg 96% 40%;
    --warning-foreground: 50deg 96% 89%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 270deg 80% 5%;
    --foreground: 0 0% 98%;

    --muted: 200deg 6.9% 24.37%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 265deg 35% 12%;
    --popover-foreground: 0 0% 98%;

    --card: 270deg 35% 15%;
    --card-foreground: 0 0% 98%;

    --border: 270deg 25% 25%;
    --input: 270deg 20% 25%;

    --primary: 265deg 55% 55%;
    --primary-foreground: 0 0% 9%;

    --secondary: 200deg 6.9% 24.37%;
    --secondary-foreground: 0 0% 98%;

    --warning: 40deg 96% 40%;
    --warning-foreground: 50deg 96% 89%;

    --accent: 270deg 25% 25%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 270deg 25% 25%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-lunasima;
  }
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: TitleAnimation 3s ease infinite;
  -moz-animation: TitleAnimation 3s ease infinite;
  animation: TitleAnimation 3s ease infinite;
}

@keyframes TitleAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

:root {
  --flag-icon-size: 34px;
  --flag-icon-center: var(--flag-icon-size) / 2;
  --city-tile-spacing: calc(var(--flag-icon-center) + 3px);
}

@layer base {
  .board .row-left .badge,
  .board .row-right .badge {
    @apply px-0.5 py-2.5;
  }
}

.room-container {
  display: grid;
  grid-template-columns: minmax(20rem, 1fr) auto minmax(20rem, 1fr);
  grid-template-areas: "left center right";
  align-items: flex-start;
  @apply p-4 gap-4;
}

.game-general,
.game-sidebar {
  @apply space-y-4;
}

.game-general {
  grid-area: left;
}

.main-board {
  grid-area: center;
  height: calc(100vh - 2rem);
  margin: auto;
}

.game-sidebar {
  grid-area: right;
}

.row-right .cityBuilding svg,
.row-left .cityBuilding svg {
  transform: rotate(90deg);
}

.flagIcon {
  width: var(--flag-icon-size);
  height: var(--flag-icon-size);
  position: absolute;
}

.row-top .flagIcon,
.row-bottom .flagIcon {
  left: 50%;
  transform: translateX(-50%);
}

.row-right .flagIcon,
.row-left .flagIcon {
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  left: calc(100% - var(--flag-icon-center));
}

.tileImg {
  scale: 1.5;
  background-size: 130%;
}

.row-right .tileImg,
.row-left .tileImg {
  background-size: 90%;
  transform: rotate(90deg);
}

.tradeBoard .row-right .tileImg,
.tradeBoard .row-left .tileImg {
  scale: 2.25;
  background-size: 50%;
}

.row-top .flagIcon {
  top: calc(100% - var(--flag-icon-center));
}

.row-bottom .flagIcon {
  bottom: calc(100% - var(--flag-icon-center));
}

.row-right .tile:not(.corner) .player,
.row-left .tile:not(.corner) .player {
  writing-mode: initial;
  transform: rotate(90deg);
}

.row-top .mapped-players,
.jail .mapped-players {
  justify-content: flex-start;
}

.jail .mapped-players {
  align-items: flex-start;
}

.jail .mapped-players:not(.jail-players) {
  bottom: 60%;
}

.jail .jail-players {
  top: 40%;
  right: 25%;
}

.row-top .mapped-players .player:not(:first-child),
.row-right .corner .mapped-players .player:not(:first-child),
.row-bottom .mapped-players .player:not(:first-child) {
  @apply -ml-1;
}

.row-right .tile:not(.corner) .mapped-players .player:not(:first-child),
.row-left .tile:not(.corner) .mapped-players .player:not(:first-child) {
  @apply -mt-6;
}

.board {
  display: grid;
  grid-template-columns: repeat(11, auto);
  grid-template-rows: repeat(11, auto);
}

.center {
  grid-area: 2/2 / span 9 / span 9;
}

.row-top {
  grid-area: 1 / 1/1/11;
}

.row-right {
  grid-area: 1/11 / span 10/11;
}

.row-bottom {
  grid-area: 11/2/11 / span 10;
}

.row-left {
  grid-area: 2/1 / span 10/1;
}

.row-bottom {
  flex-direction: row-reverse;
}

.tile {
  min-inline-size: 5rem;
  block-size: 7rem;
  inline-size: 0;
  background-image: linear-gradient(
    to bottom right,
    hsl(var(--popover)),
    hsl(285deg 35% 12%)
  );
  @apply bg-popover;
}

.tile.airport {
  background-image: radial-gradient(
    circle,
    transparent,
    rgba(151, 205, 202, 0.5) 200%
  );
}

.tile.company {
  background-image: radial-gradient(
    circle,
    transparent,
    rgba(0, 255, 242, 0.5) 200%
  );
}

.corner {
  inline-size: 7rem;
}

.tradeBoard .tile {
  display: flex;
  min-inline-size: 1.5rem;
  block-size: 2.5rem;
}

.tradeBoard .corner {
  inline-size: 2.5rem;
}

.row-top .tileContent {
  flex-direction: column-reverse;
  padding-bottom: var(--city-tile-spacing);
}

.row-top .badgeWrapper {
  padding-top: 0.25rem;
}

.row-right .badgeWrapper,
.row-left .badgeWrapper {
  padding-left: 0.25rem;
}

.row-bottom .badgeWrapper {
  padding-bottom: 0.25rem;
}

.row-right .tileContent,
.row-left .tileContent {
  padding-right: var(--city-tile-spacing);
}

.row-bottom .tileContent {
  padding-top: var(--city-tile-spacing);
}

.row-right .tile:not(.corner) {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.row-left .tile:not(.corner) {
  writing-mode: vertical-rl;
}

.row-right {
  flex-direction: column;
}

.row-left {
  flex-direction: column-reverse;
}

@media (max-width: 1600px) {
  .room-container {
    grid-template-columns: auto 1fr;
    grid-template-areas: "center right" "left right";
  }
}

@media (max-width: 1200px) {
  .room-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "center center" "left right";
  }
}

@media (max-width: 600px) {
  .room-container {
    grid-template-columns: 1fr;
    grid-template-areas: "center" "right" "left";
  }
}
