@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214.29deg 24.14% 94.31%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --warning: 40deg 96% 40%;
    --warning-foreground: 50deg 96% 89%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 270deg 80% 5%;
    --foreground: 0 0% 98%;

    --muted: 200deg 6.9% 24.37%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 265deg 35% 12%;
    --popover-foreground: 0 0% 98%;

    --card: 270deg 35% 15%;
    --card-foreground: 0 0% 98%;

    --border: 270deg 25% 25%;
    --input: 270deg 20% 25%;

    --primary: 265deg 55% 55%;
    --primary-foreground: 0 0% 98%;

    --secondary: 200deg 6.9% 24.37%;
    --secondary-foreground: 0 0% 98%;

    --warning: 40deg 96% 40%;
    --warning-foreground: 50deg 96% 89%;

    --accent: 270deg 25% 25%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 270deg 25% 25%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-lunasima;
  }
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: TitleAnimation 3s ease infinite;
  -moz-animation: TitleAnimation 3s ease infinite;
  animation: TitleAnimation 3s ease infinite;
}

@keyframes TitleAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.room-container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr;
  grid-template-areas: "center" "right" "left";

  @apply p-4 gap-4 sm:grid-cols-2 sm:[grid-template-areas:'center_center'_'left_right'] xl:grid-cols-[auto_1fr] xl:[grid-template-areas:'center_right'_'left_right'] 1.5xl:grid-cols-[minmax(20rem,_1fr)_auto_minmax(20rem,_1fr)] 1.5xl:[grid-template-areas:'left_center_right'];
}

.game-general,
.game-sidebar {
  @apply space-y-4;
}

.game-general {
  grid-area: left;
}

.main-board {
  grid-area: center;
  height: calc(100vh - 2rem);
  margin-right: auto;
  margin-left: auto;
}

.game-sidebar {
  grid-area: right;
}

.row-right .cityBuilding svg,
.row-left .cityBuilding svg {
  transform: rotate(90deg);
}

.row-right .tileImg,
.row-left .tileImg {
  transform: rotate(90deg);
}

.row-right .tile:not(.corner) .player,
.row-left .tile:not(.corner) .player {
  writing-mode: initial;
  rotate: 90deg;
}

.row-top .mapped-players,
.jail .mapped-players {
  justify-content: flex-start;
}

.jail .mapped-players {
  align-items: flex-start;
}

.jail .mapped-players:not(.prisoners) {
  bottom: 60%;
}

.jail .prisoners {
  top: 40%;
  right: 25%;
}

.row-top .mapped-players .player:not(:first-child),
.row-right .corner .mapped-players .player:not(:first-child),
.row-bottom .mapped-players .player:not(:first-child) {
  @apply -ml-1;
}

.row-right .tile:not(.corner) .mapped-players .player:not(:first-child),
.row-left .tile:not(.corner) .mapped-players .player:not(:first-child) {
  @apply -mt-6;
}

.board {
  display: grid;
  grid-template-columns: repeat(11, auto);
  grid-template-rows: repeat(11, auto);
}

.center {
  grid-area: 2/2 / span 9 / span 9;
}

.row-top {
  grid-area: 1 / 1/1/11;
}

.row-right {
  grid-area: 1/11 / span 10/11;
}

.row-bottom {
  grid-area: 11/2/11 / span 10;
}

.row-left {
  grid-area: 2/1 / span 10/1;
}

.row-bottom {
  flex-direction: row-reverse;
}

.tile {
  min-inline-size: 5rem;
  block-size: 7rem;
  inline-size: 0;
  background-image: linear-gradient(
    to bottom right,
    hsl(var(--popover)),
    hsl(285deg 35% 12%)
  );
  @apply bg-popover;
}

.tile.airport {
  background-image: radial-gradient(
    circle,
    transparent,
    rgba(151, 205, 202, 0.5) 200%
  );
}

.tile.company {
  background-image: radial-gradient(
    circle,
    transparent,
    rgba(0, 255, 242, 0.5) 200%
  );
}

.corner {
  inline-size: 7rem;
}

.tradeBoard .tile {
  display: flex;
  min-inline-size: 1.5rem;
  block-size: 2.5rem;
}

.tradeBoard .corner {
  inline-size: 2.5rem;
}

.property .tileIconWrapper {
  width: 2.25rem;
  height: 2.25rem;
  margin-block-end: -1.125rem;
  margin-block-start: -1.125rem;
}

.row-right .tile:not(.corner) .tileIcon,
.row-left .tile:not(.corner) .tileIcon {
  transform: rotate(90deg);
}

.main-board .corner .tileIcon {
  height: 2.75rem;
}

.main-board .go .tileIcon {
  height: 2rem;
}

.main-board .company .tileIcon,
.main-board .airport .tileIcon {
  height: 1.5rem;
}

.main-board .tax .tileIcon,
.main-board .surprise .tileIcon,
.main-board .chance .tileIcon {
  height: 2.5rem;
}

.property .tileName {
  margin-block-start: 1.5625rem;
  margin-block-end: 1.5625rem;
  align-self: stretch;
  line-height: 0.78125rem;
  text-shadow: 0 0 0.5em hsl(var(--popover));
}

.row-right .tile:not(.corner) {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.row-left .tile:not(.corner) {
  writing-mode: vertical-rl;
}

.row-right {
  flex-direction: column;
}

.row-left {
  flex-direction: column-reverse;
}
